<ion-content class="background-image">

  <ion-card>
    <button class="preconsult" (click)=preconsult()>INGRESAR</button>
    <button class="atras" (click)=login()>Atras</button>

  <ion-list class="datos">
    <ion-item>
      <ion-input placeholder="usuario"></ion-input>
    </ion-item>
           <ion-item>
           <ion-input placeholder="password"></ion-input>
        </ion-item>
  </ion-list>
  
     <img src="../../assets/visuales/gp_register.png">
</ion-card>

</ion-content>  

<!-- El codigo del profe-->

<!-- <ion-content padding id ="register"> 
 
  <div class = "spacer" style = "width:300px;height:53px;" id = "login-spacer2">
  </div> 
  
  <h1 id = "login-heading1" style = "color:#BC0046;text-align:center;"> 
    <img class = "imgLogo" src = "../../assets/imgs/"> 
  </h1> 
  
  <form (ngSubmit) = "login(forma)" #forma = "ngForm"> 
  <div class = "spacer" style = " width:300px;height:97px;" id = "login-spacer3"></div> 
  
  <ion-list id = "login-list4"> 
  
  <ion-item id = "login-input6"> 
 
  <ion-label> Correo electrónico </ion-label> 
  
  <ion-input type = "email" required ngModel #email = "ngModel" name = "email" placeholder = "" maxLength = "200" minLength = "3" pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input> 
  
  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input> --> 
  
  <!-- </ion-item>  
  
  <ion-item id = "login-input7"> 
  
  <ion-label> Password </ion-label> 
  <ion-input type = "password" required ngModel #clave = "ngModel" name ="clave" placeholder = " maxLength = "200" minLength ="3"></ion-input> 
  
  </ion-item> 
  
  </ion-list> 
  
  <div class = "spacer" style ="height:40px;" id = "login-spacer1"></div> 
  
  <ion-button type = "submit" color = "balanced" color = "primary" expand = "full" [disabled] = "!forma.valid"> Ingresar </ion-button > 
  
  </form> 
  
  </ion-content> 
  
   -->